<h1><%= @user.name %></h1>
<br>
<%= @user.name %>, <%= @user.email %>
<br>
<%= image_tag @user.avatar.url(:medium) %>

<p>
  <strong>Events Joined:</strong>
  <%= @user.events.map {|c| c.title}.join(', ') %>
</p>
