<div class="creatorbox">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Creator Of Event</h4>
		</div>
		<div class="panel-body">
			<p><%= image_tag @event.users.all[0].avatar.url(:medium) %></p><br>
			<p><%= @event.users.all[0].name %></p>
			<div class="clearfix"></div>
			<hr>
			Heres where some quirky information about the user goes
		</div>
		<% if current_user.id == @event.users.all[0].id %>
		<hr>
		<center><%= link_to 'Delete Event', event_path(@event.id), :method => :delete, :class => 'btn btn-danger' %>
		</center><% end %>
	</div>
</div>

<div class="eventsbox">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Event Details</h4>
		</div>
		<div class="panel-body">
			<h1> <%= @event.title %></h1>
			<ul>
				<li>Event Description: <%= @event.description %></li>
				<li>Start Time: <%= @event.start_time %></li>
				<li>End Time: <%= @event.end_time %></li>
				<li>Event Location: <%= @event.location %></li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<div class="attendeesbox">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>People Who Are Attending</h4>
		</div>
		<div class="panel-body">
			<% for attendee in @event.users %>
				<% if attendee.id != @event.users.all[0].id %>
				<%= image_tag attendee.avatar.url(:medium) %>

				<% if attendee.id != @user.id && attendee.id != @user.friends  %>	
					<li><%= link_to "Add Friend", friendships_path(:friend_id => attendee), :method => :post %></li>
				<% end %>
				<% end %>
				<% end %>

				<% if @user.id == attendee.id && @user.id != @event.users.all[0].id %>
				<%= link_to 'withdraw from Event', withdraw_event_path(@event.id), method: :post, class: 'btn btn-danger' %>
				<% elsif @user.id != attendee.id && @user.id != @event.users.all[0].id %>
				<%= link_to 'Request To Join Event', attend_event_path(@event.id), method: :post, class: 'btn btn-primary' %>
				<% end %>
			
			
		<div class="clearfix"></div>
	</div>
</div>

<div class="commentsbox">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Comments</h4>
		</div>
		<div class="panel-body">
			<% for comment in @event.comments %>
			User Id: <%= comment.user_id %>. <%= comment.message %>
			<hr />
			<% end %>
			<div class="clearfix"></div>
			<%= form_for([@event, @event.comments.build], remote: true) do |f| %>
			<p>
				<%= f.text_field :message %>
			</p>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field :event_id, :value => @event.id %>
			<p>
				<%= f.submit %>
			</p>
			<% end %>		
		</div>
	</div>
</div>



















