
<h1> <%= @event.title %></h1>
		<ul>
			<li>Event Description: <%= @event.description %></li>
			<li>Event Time: <%= @event.whenz %></li>
			<li>Event Location: <%= @event.location %></li>
		</ul>


<h2> Creator Of Event <h2>
	<%= @event.users.first.name %><br>
	<%= image_tag @event.users.first.avatar.url(:medium) %><br>
	

<h3> People Who Are Attending </h3>
	<ul>
		<% for attendee in @event.users %>
		<% if attendee.id != @event.users.first.id %>
			<li> <%= link_to attendee.name %> </li>
			<% end %>
		
		</ul>

<% end %>

<h3> Join This Event <h3>
<% if current_user.id != attendee.id %>
	<

	<% end %>









