
<h1> <%= @event.title %></h1>
		<ul>
			<li>Event Description: <%= @event.description %></li>
			<li>Event Time: <%= @event.whenz %></li>
			<li>Event Location: <%= @event.location %></li>
		</ul>


<h2> Creator Of Event <h2>
	<%= @event.users.first.name %><br>
	<%= image_tag @event.users.first.avatar.url(:medium) %><br>
	<%= link_to 'Delete Event', withdraw_event_path(@event.id), :method => :post, :class => 'btn btn-danger' %>
	

<h3> People Who Are Attending </h3>
	<ul>
		<% for attendee in @event.users %>
		<% if attendee.id != @event.users.first.id %>
			<li> <%= link_to attendee.name %> </li>
			
			<% end %>
		
		</ul>

<% end %>

<h3> Join This Event <h3>
<% unless current_user.id == attendee.id %>
	 <%= link_to 'Attend this Event', attend_event_path(@event.id), :method => :post, :class => 'btn btn-primary' %>


	<% end %>









